header {
  padding: 1rem;
  background-color: $header-bg;

  .navbar-toggler {
    background-color: transparent;
    border: none;
  }

  .logo {
    width: 100px;
  }

  nav {
    ul {
      list-style-type: none;
      @include flex-center(row, 1rem);
    }

    a {
      color: $header-text;
      text-decoration: none;
    }
  }

  @media (max-width: 834px) {
    flex-direction: column;

    nav {
      margin-top: 1rem;
    }
  }
}
